h1,p{
    color: rgb(226, 226, 226);
     width: 90%;
    max-width: 1240px;
    margin: 20px auto;
    padding: 10px;
}
ul.listcom{
    color: rgb(195, 195, 195);
    width: 90%;
    max-width: 1240px;
    margin: 20px 0 20px 380px;
    padding: 20px;
}